@page "/product"
@inject HttpClient _http
@using ManagementMBClient.DTOs
@using System.Net.Http.Json
@inject NavigationManager _navigationManager

<PageTitle>Products</PageTitle>

<h1>Products</h1>

<div class="row">
    <div class="col-md-6">
        <a href='/product/add' class="btn btn-primary" role="button">
            <i class="fas fa-user-plus"></i>
            Add Product
        </a>
    </div>
    <div class="input-group col">
        <input type="text" class="form-control" placeholder="Search product by Name or Description"
               @bind="SearchString" @bind:event="oninput" @onkeyup="FilterClients" />
    </div>
</div>
@if (_allProducts == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <table class="table">
        <thead>
            <tr>
                <th>Name</th>
                <th>Description</th>
                <th>Price</th>
                <th>CostPrice</th>
                <th>Quantity</th>
                <th>TotalPrice</th>
                <th>TotalCostPrice</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var product in _filteredProducts)
            {
                <tr>
                    <td>@product.Name</td>
                    <td>@product.Description</td>
                    <td>@product.Price</td>
                    <td>@product.CostPrice</td>
                    <td>@product.Quantity</td>
                    <td>@product.TotalPrice</td>
                    <td>@product.TotalCostPrice</td>
                    <td>
                        <button class="btn btn-primary" @onclick="() => EditItem(product.Id)">Edit</button>
                        <button class="btn btn-danger" @onclick="() => ShowDeleteConfirmation(product.Id)">Delete</button>
                    </td>
                </tr>
            }
        </tbody>
        <tfoot>
            <tr>
                <td colspan="5">Total</td>
                <td>@_filteredProducts.Sum(product => product.TotalPrice)</td>
                <td>@_filteredProducts.Sum(product => product.TotalCostPrice)</td>
                <td></td>
            </tr>
        </tfoot>
    </table>

}

<DeleteConfirmation IsVisible="ShowModal" OnConfirm="HandleDeleteConfirmation" />

@code {
    protected string SearchString { get; set; } = string.Empty;
    private IEnumerable<Product>? _allProducts;
    private IEnumerable<Product>? _filteredProducts;
    private bool ShowModal { get; set; }
    private Guid ProductIdToDelete { get; set; }

    protected override async Task OnInitializedAsync()
    {
        _allProducts = await _http.GetFromJsonAsync<IEnumerable<Product>>("api/Products");
        _filteredProducts = _allProducts;
    }

    private void ShowDeleteConfirmation(Guid id)
    {
        ProductIdToDelete = id;
        ShowModal = true;
    }

    private async Task HandleDeleteConfirmation(bool confirmed)
    {
        ShowModal = false;

        if (confirmed)
        {
            await _http.DeleteAsync($"api/Products/Delete?id={ProductIdToDelete}");
            await OnInitializedAsync(); // Refresh the list
        }
    }

    private void EditItem(Guid id)
    {
        _navigationManager.NavigateTo($"/product/edit/{id}", true);
    }

    protected void FilterClients()
    {
        if (!string.IsNullOrEmpty(SearchString))
        {
            _filteredProducts = _allProducts.Where(x => x.Name.Contains(SearchString, StringComparison.OrdinalIgnoreCase)
                                                       || x.Description.Contains(SearchString, StringComparison.OrdinalIgnoreCase))
                .ToArray();
        }
        else
        {
            _filteredProducts = _allProducts;
        }
    }
}
